@import 'variables';
@import '../../assets/scss/mixins';

//
// Our Work Page
// --------------------------------------------------

#our-work {
  position: relative;
  z-index: 0;
  background: transparent
    url('../../assets/images/fea-c2design-studio-work.jpg') no-repeat left
    center;
  background-size: cover;
  color: #fff;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba(theme-color('primary'), 0.5);
  }

  > .container > .row {
    min-height: 300px;

    > div {
      display: flex;
      align-items: center;
    }
  }

  .jumbotron.icon-page:before {
    background-position: 0 0;
  }
}

#user-centered-design {
  background-color: $green;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

#work-samples {
  .alert-info {
    margin-bottom: 3rem;
  }

  .heading-icon {
    position: relative;
    padding-left: 6.875rem;
    margin-bottom: 3rem;

    &:before {
      content: '';
      position: absolute;
      top: -13px;
      left: 0;
      display: block;
      height: 75px;
      width: 90px;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &.heading-web:before {
      @include background-image(icon-tablet-green, true, '../../assets/images');
      background-size: auto 75px;
    }

    &.heading-online-marketing:before {
      @include background-image(
        icon-monitor-usd-green,
        true,
        '../../assets/images'
      );
      background-size: 75px auto;
    }

    &.heading-digital-design:before {
      @include background-image(
        icon-monitor-play-green,
        true,
        '../../assets/images'
      );
      background-size: 90px auto;
    }
  }

  .card {
    border: none;
    margin-bottom: 30px;
  }

  .card-body {
    padding: 0;

    button {
      position: relative;
      max-height: 475px;
      padding: 0;
      border-radius: 0;
      overflow: hidden;

      @media (min-width: 992px) and (max-width: 1199px) {
        max-height: 350px;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        max-height: 300px;
      }

      @media (min-width: 576px) and (max-width: 767px) {
        max-height: 250px;
      }

      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 101%;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 75%,
          rgba(255, 255, 255, 1) 100%
        );
      }

      .btn__hover-modal {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        height: 100%;
        width: 101%;
        background-color: rgba($color: #000, $alpha: 0.5);
        transition: opacity 0.5s ease-in-out;
        opacity: 0;

        &:hover {
          opacity: 1;
        }

        &:before {
          content: '\f2f5';
          position: relative;
          top: -40px;
          display: block;
          margin-top: 50%;
          @include icon-font();
          color: #fff;
          font-size: 80px;
        }
      }
    }
  }
}
