@import 'variables';
@import '../../assets/scss/mixins';

//
// Our Work Page
// --------------------------------------------------

#our-work {
    position: relative;
    z-index: 0;
    background: transparent url('../../assets/images/fea-c2design-studio-work.jpg') no-repeat left center;
    @include background-size(cover);
    color: #fff;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: rgba($brand-primary, 0.5);
    }

    > .container > .row {
        min-height: 300px;

        > div {
            @include display-flex();
            @include align-items(center);
        }
    }
}

#user-centered-design {
  background-color: $green;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

#work-samples {
    .alert-info {
        margin-bottom: 3rem;
    }
    
    .heading-icon {
        position: relative;
        padding-left: 120px;
        margin-bottom: 3rem;

        &:before {
            content: "";
            position: absolute;
            top: -13px;
            left: 0;
            display: block;
            height: 75px;
            width: 90px;
            background-position: center center;
            background-repeat: no-repeat;
            vertical-align: middle;
        }

        &.heading-web:before {
            @include background-image(icon-tablet-green, true, '../../assets/images');
            background-size: auto 75px;
        }

        &.heading-online-marketing:before {
            @include background-image(icon-monitor-usd-green, true, '../../assets/images');
            background-size: 75px auto;
        }

        &.heading-digital-design:before {
            @include background-image(icon-monitor-play-green, true, '../../assets/images');
            background-size: 90px auto;
        }
    }
}
