<section id="our-work">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
        <div class="jumbotron">
          <h1>our work</h1>
          <p>Our focus is a visually appealing design with great user experience.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="user-centered-design">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="separator">User-Centered Design</h2>
        <p>C2 Design Studio follows a user-centered design approach. We believe if you focus on 
          the wants and needs of the user, good ROI will surely follow.</p>
        <p>Derrick Pedranti and the C2 Design Studio team have designed and developed websites and 
          applications for small businesses, Fortune 500 companies and government agencies.</p>
        <p>Below are just a few examples of our work. Please contact us for additional samples.</p>
      </div>
    </div>
  </div>
</section>
<section id="work-samples">
  <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="alert alert-info" role="alert">
              Note that some of the websites contained in this portfolio may have been modified by other 
              parties since the <span class="no-wrap">original design.</span>
          </div>
          <h3 class="heading-icon heading-web">Web</h3>
          <p>[samples here]</p>
          <br />
          <br />
          <h3 class="heading-icon heading-online-marketing">Online Marketing</h3>
          <p>[samples here]</p>
          <br />
          <br />
          <h3 class="heading-icon heading-digital-design">Digital Design</h3>
          <p>[samples here]</p>
          <br />
          <br />
        </div>
      </div>
    </div>
</section>
