<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Close click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!!modalVideo; else elseBlock">
      <app-videojs [idx]="modalIndex" [url]="modalVideo"></app-videojs>
    </div>
    <ng-template #elseBlock>
      <img [src]="modalImage" class="img-fluid" [alt]="modalTitle" />
    </ng-template>
  </div>
</ng-template>

<section class="our-work position-relative text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 d-flex align-items-center mx-auto">
        <div class="jumbotron icon-page">
          <h1>our work</h1>
          <p>
            Our focus is a visually appealing design with great user experience.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="user-centered-design text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2 class="separator white">User-Centered Design</h2>
        <p>
          C2 Design Studio follows a user-centered design approach. We believe
          if you focus on the wants and needs of the user, good ROI will surely
          follow.
        </p>
        <p>
          Derrick Pedranti and the C2 Design Studio team have designed and
          developed websites and applications for small businesses, Fortune 500
          companies and government agencies.
        </p>
        <p>
          Below are just a few examples of web, online marketing and digital
          graphic design work by Derrick Pedranti. Please contact us for
          additional samples.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="work-samples">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="alert alert-info" role="alert">
          <p>
            On the Web designs, corporate identity and content have been made
            generic.
          </p>
        </div>
        <h3 class="heading-icon heading-web">Web</h3>
        <div class="row">
          <div *ngFor="let portfolio of web" class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <button
                  class="btn btn-link"
                  (click)="openModal(content, portfolio)"
                >
                  <img
                    [src]="portfolio.thumb"
                    class="img-fluid"
                    [alt]="portfolio.title"
                  />
                  <span class="btn__hover-modal"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <h3 class="heading-icon heading-online-marketing">Online Marketing</h3>
        <div class="row">
          <div *ngFor="let portfolio of marketing" class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <button
                  class="btn btn-link"
                  (click)="openModal(content, portfolio)"
                >
                  <img
                    [src]="portfolio.thumb"
                    class="img-fluid"
                    [alt]="portfolio.title"
                  />
                  <span class="btn__hover-modal"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <h3 class="heading-icon heading-digital-design">Digital Design</h3>
        <div class="row">
          <div *ngFor="let portfolio of digitalSignage" class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <button
                  class="btn btn-link"
                  (click)="openModal(content, portfolio)"
                >
                  <img
                    [src]="portfolio.thumb"
                    class="img-fluid"
                    [alt]="portfolio.title"
                  />
                  <span class="btn__hover-modal"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
</section>
