@import 'variables';

// Footer

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 150px;
  background-color: $gray-600;
  color: #fff;
  font-size: 14px;

  .footer-left,
  .footer-right {
    padding-top: 30px;
  }

  .footer-right {
    text-align: right;
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    .footer-left,
    .footer-right {
      text-align: center;
    }
  }
}
