<div class="container mt-5 mb-4">
  <div class="row">
    <div class="col-sm-12 text-center text-lg text-gray">
      <h1 class="mt-0 mt-sm-3 mb-5 text-gray-dark">Page Not Found</h1>
      <p class="m-0">
        We're sorry but we can't find the page you're
        <span class="text-nowrap">looking for.</span>
      </p>
      <p class="m-0 text-gray-lighter icon-not-found">
        <i class="ion-android-sad"></i>
      </p>
      <p>
        Please choose a link from the navigation or
        <a href="/" class="text-nowrap">visit the home page</a>.
      </p>
    </div>
  </div>
</div>
