<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="jumbotron icon-page">
          <h1>contact</h1>
          <p>Get in touch and find out how we can help will all your interactive and digital needs.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="c2-design-studio">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="separator">C2 Design Studio</h2>
        <p class="text-center text-lg">C2 Design Studio is headquartered in Orange County, California.</p>
        <br />
      </div>
      <div class="col-md-6 contact-info">
        <h3 class="contact-name">Derrick Pedranti</h3>
        <p class="contact-title"><i>Managing Director</i><br />
        C2 Design Studio</p>
        <p>
          <a href="mailto:hello@c2designstudio.com">
            <i class="icon-inline ion-android-mail"></i>hello@c2designstudio.com
          </a>
        </p>
      </div>
      <div class="col-md-6">
        <ul class="icon-ul icon-ul-inline">
          <li><a href="https://www.facebook.com/derrick.pedranti"><i class="icon-circle-solid ion-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/dpedranti"><i class="icon-circle-solid ion-social-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <br /><br />
    <app-contact-form></app-contact-form>
  </div>
</section>
<section id="our-designers">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p>Our interactive designers and developers are available remote or can travel to your location. 
          Please contact us for details.</p>
      </div>
    </div>
  </div>
</section>
<section id="location-map">
  <agm-map [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="zoom">
    <agm-marker [iconUrl]="iconUrl" [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</section>
