@import 'variables';
@import '../../assets/scss/mixins';

.contact {
  z-index: 0;
  background: transparent
    url('../../assets/images/fea-c2design-studio-contact.jpg') no-repeat left
    center;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba($gray-800, 0.5);
  }

  .row {
    min-height: (300rem / 16);
  }

  .jumbotron.icon-page:before {
    background-position: 0 (-330rem / 16);
  }
}

.our-designers {
  background-color: $gray-warm-dark;
  font-size: 1.5rem;
  font-weight: 300;
}

.contact-info {
  .contact-info {
    margin-bottom: 2.125rem;

    .contact-title {
      margin-bottom: 1rem;
    }
  }

  .social-media-links {
    margin-bottom: 1.125rem;
  }
}

.icon-ul {
  margin-left: -2px;
  padding-left: 0;
  list-style: none;

  li {
    &:not(:first-child) {
      margin-top: 0.75rem;
    }
  }

  &.icon-ul-inline {
    li {
      margin-top: 0;

      &:not(:first-child) {
        margin-left: 1rem;
      }

      display: inline-block;
    }
  }
}

.icon-circle-solid {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: $gray-warm-dark;
  color: $white;
  font-size: 34px;
  text-align: center;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: lighten($gray-warm-dark, 30%);
  }
}
