@import 'variables';
@import '../../assets/scss/mixins';

//
// Contact Page
// --------------------------------------------------

#contact {
  position: relative;
  z-index: 0;
  background: transparent
    url('../../assets/images/fea-c2design-studio-contact.jpg') no-repeat left
    center;
  background-size: cover;
  color: #fff;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba($gray-dark, 0.5);
  }

  > .container > .row {
    min-height: 300px;

    > div {
      display: flex;
      align-items: center;
    }
  }

  .jumbotron.icon-page:before {
    background-position: 0 -330px;
  }
}

#c2-design-studio {
  .contact-info {
    margin-bottom: 2.125rem;

    .contact-title {
      margin-bottom: 1rem;
    }
  }

  .social-media-links {
    margin-bottom: 1.125rem;

    .icon-circle-solid {
      background-color: $gray-warm-dark;
      color: #fff;

      &:hover,
      &:focus {
        background-color: lighten($gray-warm-dark, 30%);
      }
    }
  }
}

#our-designers {
  background-color: $gray-warm-dark;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;

  > .container {
    padding: 5rem 30px;
  }
}

#location-map {
  agm-map {
    height: 300px;
  }
}
