<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="jumbotron icon-page">
          <h1>contact</h1>
          <p>Get in touch and find out how we can help will all your interactive and digital needs.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="c2-design-studio">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="separator">C2 Design Studio</h2>
        <p class="text-center text-lg">C2 Design Studio is headquartered in Orange County, California.</p>
        <br />
      </div>
      <div class="col-md-5 contact-info">
        <h3 class="contact-name">Derrick Pedranti</h3>
        <p class="contact-title"><i>Managing Director</i><br />
        C2 Design Studio</p>
        <p>
          <a href="mailto:hello@c2designstudio.com">
            <i class="icon-inline ion-android-mail"></i>hello@c2designstudio.com
          </a>
        </p>
        <ul class="icon-ul">
          <li><a href="https://www.facebook.com/derrick.pedranti"><i class="icon-circle-solid ion-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/dpedranti"><i class="icon-circle-solid ion-social-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-md-5 contact-info">
        <br />
        <p class="text-center">[form here]</p>
      </div>
    </div>
  </div>
</section>
