
<div [hidden]="submitted">
  <p class="small">Fields marked with an asterisk (<span class="text-red">*</span>) are required.</p>
  <form (ngSubmit)="onSubmit()" #appContactForm="ngForm">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Name <span class="text-red">*</span></label>
          <input type="text" class="form-control form-control-lg" id="name"
            required
            [(ngModel)]="model.name" name="name"
            #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email <span class="text-red">*</span></label>
          <input type="email" class="form-control form-control-lg" id="email"
            required
            [(ngModel)]="model.email" name="email"
            #email="ngModel">
          <div [hidden]="email.valid || email.pristine"
            class="alert alert-danger">
            Email is required
          </div>
        </div>
        <div class="form-group">
          <label for="company">Company/Organization</label>
          <input type="text" class="form-control form-control-lg" id="company"
            [(ngModel)]="model.company" name="company">
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control form-control-lg" id="address"
            [(ngModel)]="model.address" name="address">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="city">City <span class="text-red">*</span></label>
          <input type="text" class="form-control form-control-lg" id="city"
            required
            [(ngModel)]="model.city" name="city"
            #city="ngModel">
          <div [hidden]="city.valid || city.pristine"
            class="alert alert-danger">
            City is required
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="state">State/Province <span class="text-red">*</span></label>
          <input type="text" class="form-control form-control-lg" id="state"
            required
            [(ngModel)]="model.state" name="state"
            #state="ngModel"
            [ngbTypeahead]="searchState">
          <div [hidden]="state.valid || state.pristine" class="alert alert-danger">
            State/Province is required
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="zip">Zip/Postal Code</label>
          <input type="text" class="form-control form-control-lg" id="zip"
            [(ngModel)]="model.zip" name="zip">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="country">Country <span class="text-red">*</span></label>
          <input type="text" class="form-control form-control-lg" id="country"
            required
            [(ngModel)]="model.country" name="country"
            #country="ngModel"
            [ngbTypeahead]="searchCountry">
          <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
            Country is required
          </div>
        </div>
        <div class="form-group">
          <label for="comments">Comments/Questions</label>
          <textarea class="form-control form-control-lg" id="comments" rows="4"
            [(ngModel)]="model.comments" name="comments"></textarea>
        </div>
      </div>
    </div>

    <div class="row btn-row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-success btn-lg" [disabled]="!appContactForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default btn-lg" (click)="appContactForm.reset()">Reset</button>
      </div>
    </div>
  </form>
</div>

<div [hidden]="!submitted">
  <h3>Thank You!</h3>
  <p>We have received your form submission and will be in touch soon.</p>
  <div class="row">
    <div class="col-sm-6">Name:</div>
    <div class="col-sm-6">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-sm-6">Company/Organization:</div>
    <div class="col-sm-6">{{ model.company }}</div>
  </div>
  <div class="row">
    <div class="col-sm-6">Email:</div>
    <div class="col-sm-6">{{ model.email }}</div>
  </div>
  <div class="row">
    <div class="col-sm-6">Address:</div>
    <div class="col-sm-6">{{ model.address }}</div>
  </div>
  <div class="row">
    <div class="col-sm-6">City:</div>
    <div class="col-sm-6">{{ model.city }}</div>
  </div>
  <div class="row">
    <div class="col-sm-6">State/Province:</div>
    <div class="col-sm-6">{{ model.state }}</div>
  </div>
  <div class="row">
    <div class="col-sm-6">Zip/Postal Code:</div>
    <div class="col-sm-6">{{ model.zip }}</div>
  </div>
  <div class="row">
    <div class="col-sm-6">Country:</div>
    <div class="col-sm-6">{{ model.country }}</div>
  </div>
  <div class="row">
    <div class="col-sm-6">Comments/Questions:</div>
    <div class="col-sm-6">{{ model.comments }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>
