@import 'variables';

//
// Contact Form
// --------------------------------------------------

p {
  margin-bottom: 1rem;
}

.contact-submission-data {
  > .row {
    margin-bottom: 15px;
    padding-bottom: 15px;

    &:not(:last-child) {
      border-bottom: 1px solid lighten($gray-300, 5%);
    }

    > div:first-child {
      font-weight: 700;
    }
  }
}

label {
  font-size: 14px;
  font-weight: 700;
}
