<div class="contact-form" *ngIf="!submitted">
  <p class="small">
    Fields marked with an asterisk (<span class="text-red">*</span>) are
    required.
  </p>
  <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Name <span class="text-red">*</span></label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="name"
            formControlName="name"
          />
          <div *ngIf="name.touched && name.errors" class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email <span class="text-red">*</span></label>
          <input
            type="email"
            class="form-control form-control-lg"
            id="email"
            formControlName="email"
          />
          <div *ngIf="email.touched && email.errors">
            <div *ngIf="email.errors.required" class="alert alert-danger">
              Email is required
            </div>
            <div *ngIf="email.errors.pattern" class="alert alert-danger">
              Must be a valid email
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="company">Phone</label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="phone"
            formControlName="phone"
          />
        </div>
        <div class="form-group">
          <label for="company">Company/Organization</label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="company"
            formControlName="company"
          />
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="address"
            formControlName="address"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-4">
        <div class="form-group">
          <label for="city">City <span class="text-red">*</span></label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="city"
            formControlName="city"
          />
          <div *ngIf="city.touched && city.errors" class="alert alert-danger">
            City is required
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <label for="state"
            >State/Province <span class="text-red">*</span></label
          >
          <input
            type="text"
            class="form-control form-control-lg"
            id="state"
            formControlName="state"
            [ngbTypeahead]="searchState"
          />
          <div *ngIf="state.touched && state.errors" class="alert alert-danger">
            State is required
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <label for="zip">Zip/Postal Code</label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="zip"
            formControlName="zip"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="country">Country <span class="text-red">*</span></label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="country"
            formControlName="country"
            [ngbTypeahead]="searchCountry"
          />
          <div
            *ngIf="country.touched && country.errors"
            class="alert alert-danger"
          >
            Country is required
          </div>
        </div>
        <div class="form-group">
          <label for="comments">Comments/Questions</label>
          <textarea
            class="form-control form-control-lg"
            id="comments"
            rows="4"
            formControlName="comments"
          ></textarea>
        </div>
        <div class="form-group">
          <ngx-recaptcha2
            #captchaElem
            [siteKey]="siteKey"
            formControlName="recaptcha"
          >
          </ngx-recaptcha2>
        </div>
      </div>
    </div>

    <div class="row btn-row">
      <div class="col-sm-12">
        <button
          type="submit"
          class="btn btn-success btn-lg"
          [disabled]="!contactForm.valid"
        >
          Submit
        </button>
        <button
          type="button"
          class="btn btn-default btn-lg"
          (click)="contactForm.reset()"
        >
          Reset
        </button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="submitted">
  <h3>Thank You!</h3>
  <p>We have received your form submission and will be in touch soon.</p>
  <div class="contact-submission-data">
    <div class="row">
      <div class="col-sm-6">Name:</div>
      <div class="col-sm-6">{{ contact.name }}</div>
    </div>
    <div class="row">
      <div class="col-sm-6">Company/Organization:</div>
      <div class="col-sm-6">{{ contact.company }}</div>
    </div>
    <div class="row">
      <div class="col-sm-6">Email:</div>
      <div class="col-sm-6">{{ contact.email }}</div>
    </div>
    <div class="row">
      <div class="col-sm-6">Address:</div>
      <div class="col-sm-6">{{ contact.address }}</div>
    </div>
    <div class="row">
      <div class="col-sm-6">City:</div>
      <div class="col-sm-6">{{ contact.city }}</div>
    </div>
    <div class="row">
      <div class="col-sm-6">State/Province:</div>
      <div class="col-sm-6">{{ contact.state }}</div>
    </div>
    <div class="row">
      <div class="col-sm-6">Zip/Postal Code:</div>
      <div class="col-sm-6">{{ contact.zip }}</div>
    </div>
    <div class="row">
      <div class="col-sm-6">Country:</div>
      <div class="col-sm-6">{{ contact.country }}</div>
    </div>
    <div class="row">
      <div class="col-sm-6">Comments/Questions:</div>
      <div class="col-sm-6">{{ contact.comments }}</div>
    </div>
  </div>
  <div class="row btn-row">
    <div class="col-sm-12">
      <button class="btn btn-default btn-lg" (click)="submitted = false">
        Back
      </button>
    </div>
  </div>
</div>
