@import 'variables';
@import '../assets/scss/mixins';

$ionicons-font-path: '../../node_modules/ionicons-npm/fonts';
@import '../../node_modules/ionicons-npm/scss/ionicons';

//
// Application-wide styles
// --------------------------------------------------

// Table of Contents
//

// Typography
// Layout
// Components
// Icons
// Buttons
// Forms
// Alerts
// Utilities
// Accordion
// Responsive

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 150px;
}

// Typography

h1 {
  font-style: italic;
}

h3 {
  font-weight: 300;
}

p {
  margin-bottom: 2rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-red {
  color: $red;
}

// Layout

#main {
  section {
    > .container {
      padding: 3.75rem 30px;
    }

    h2 {
      margin-bottom: 2.25rem;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;

      &.separator {
        &:after {
          content: '';
          display: block;
          height: 8px;
          width: 160px;
          margin: 1.5rem auto 0 auto;
          @include background-image(header-separator);
          background-size: 160px 8px;
        }

        &.white:after {
          @include background-image(header-separator-white);
        }
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

// Components

.jumbotron {
  position: relative;
  padding-left: 2rem;

  border-radius: 0;
  border-left: 1px solid #fff;
  font-size: 1.5rem;
  font-weight: 300;

  &.icon-page {
    margin-left: 130px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -130px;
      height: 110px;
      width: 120px;
      @include background-image(sprite-icon-page);
      background-repeat: no-repeat;
      background-size: 120px auto;
    }
  }

  > *:last-child {
    margin-bottom: 1rem;
  }
}

// Icons

.icon-ul {
  margin-left: -2px;
  padding-left: 0;
  list-style: none;

  li {
    &:not(:first-child) {
      margin-top: 0.75rem;
    }
  }

  &.icon-ul-inline li {
    &:not(:first-child) {
      margin-left: 1rem;
    }

    display: inline-block;
  }
}

.icon-inline {
  display: inline-block;
  margin: -2px 8px 0 0;
  font-size: 26px;
  line-height: 1;
  vertical-align: middle;
}

.icon-circle {
  display: block;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 3px solid $gray-lighter;
  text-align: center;
}

.icon-circle-solid {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: $gray-lighter;
  font-size: 34px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.icon-link {
  color: $gray-dark;

  &:hover,
  &:focus {
    text-decoration: none;

    .icon-circle {
      background-color: $gray-lighter;
      transition: background-color 0.2s linear;

      &.anchor-down:before {
        content: '\f35d' !important;
        background-image: none !important;
        @include icon-font();
        font-size: 48px;
        line-height: 110px;
        text-align: center;
      }
    }
  }

  .icon-circle {
    margin-bottom: 5px;
  }
}

.icon-menu-horizontal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -30px 2rem -30px;
  list-style: none;

  li {
    margin: 0 30px 1rem 30px;
    font-size: 21px;
    font-style: italic;
    text-align: center;

    .icon-circle {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// Buttons

.btn {
  border: none;
  border-radius: 0.3rem;
  transition: background-color 0.2s ease-in-out;

  &:active {
    position: relative;
    top: 1px;
  }
}

.btn-primary {
  background-color: $gray-dark;

  &:hover,
  &:focus {
    background-color: darken($gray-dark, 10%);
  }
}

.btn-white {
  background-color: #fff;
  color: $gray-dark;

  &:hover,
  &:focus {
    background-color: lighten($gray-light, 5%);
    color: $gray-darker;
  }
}

// Forms

label {
  margin-bottom: 0.125rem;
  font-size: 14px;
  font-weight: 700;
}

.form-control-lg {
  font-size: 1.125rem;
}

.btn-row {
  margin-top: 1rem;

  .btn:not(:first-child) {
    margin-left: 1rem;
  }
}

// Alerts

.alert {
  position: relative;
  min-height: 66px;
  border: none;
  padding: 20px 15px 15px 66px;
  color: $gray-dark;

  &:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 15px;
    display: block;
    height: 40px;
    width: 40px;
    @include icon-font();
    font-size: 44px;
  }

  &.alert-success {
    background-color: lighten($green, 38%);
    border-color: darken($green, 10%);

    &:before {
      content: '\f3fe';
      color: darken($green, 5%);
    }
  }

  &.alert-info {
    background-color: lighten($blue, 55%);
    border-color: darken($blue, 10%);

    &:before {
      content: '\f44c';
      color: $blue;
    }
  }

  &.alert-warning {
    background-color: lighten($yellow, 25%);
    border-color: darken($yellow, 10%);

    &:before {
      content: '\f35b';
      color: darken($yellow, 10%);
    }
  }

  &.alert-danger {
    background-color: lighten($red, 43%);
    border-color: darken($red, 10%);

    &:before {
      content: '\f100';
      color: $red;
    }
  }
}

// Utilities

.v-center {
  display: table;
  height: 100%;
  width: 100%;
}

.v-content {
  display: table-cell;
  vertical-align: middle;
}

// Accordion

.accordion {
  .card {
    border: none;

    &:not(:first-child) {
      margin-top: 2rem;
    }

    .card-header {
      position: relative;
      padding: 0;
      background-color: $gray-dark;
      border-bottom: none;
      color: #fff;
      font-size: 24px;
      font-style: italic;

      button {
        width: 100%;
        padding: 0.75rem 3.5rem 1rem 1.25rem;
        color: #fff;
        font-size: 2rem;
        font-style: italic;
        line-height: 1;
        text-align: left;
        transition: background-color 0.2s ease-in-out;

        &:after {
          content: '\f126';
          position: absolute;
          right: 1.25rem;
          height: 100%;
          width: 2rem;
          @include icon-font();
          font-size: 2rem;
          text-align: center;
        }

        &:hover,
        &:focus {
          background-color: $gray-darker;
          text-decoration: none;
        }

        &:active {
          top: 0;
        }

        &.collapsed {
          &:after {
            content: '\f123';
            padding-top: 0.125rem;
          }
        }
      }
    }

    .card-body {
      h3 {
        margin: 2rem 0 0.75rem 0;
        font-size: 1.375rem;
        font-weight: 700;
      }

      p {
        margin-bottom: 1rem;
      }

      > *:first-child {
        margin-top: 0;
      }
    }
  }
}

// Reponsive

@media (max-width: 575px) {
  .jumbotron {
    padding: 0;
    border-left: none;

    &.icon-page {
      margin-left: 0;

      &:before {
        content: none;
      }
    }
  }
}

@media (max-width: 479px) {
  .accordion {
    .card {
      .card-header {
        button {
          font-size: 1.625rem;
        }
      }
    }
  }
}
