@import 'variables';
@import '../assets/scss/mixins';

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 75px;
  margin-bottom: 150px;
}


// Typography

h1 {
  font-style: italic;
}

p {
  margin-bottom: 2rem;
}

.no-wrap {
  white-space: nowrap;
}


// Layout

#main {
  section {
    
    > .container {
      padding: 60px 0;
    }

    h2 {
      margin-bottom: 2rem;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;

      &.separator:after {
        content: "";
        display: block;
        height: 8px;
        width: 160px;
        margin: 1.5rem auto 0 auto;
        @include background-image(header-separator-white);
        background-size: 160px 8px;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}


// Components

.jumbotron {
  padding-left: 2rem;
  @include border-radius(0);
  border-left: 1px solid #fff;
  font-size: 1.5rem;
  font-weight: 300;

  > *:last-child {
    margin-bottom: 1rem;
  }
}


// Icons

.icon-circle {
  display: block;
  height: 110px;
  width: 110px;
  @include border-radius(50%);
  border: 3px solid $gray-lighter;
}


// Buttons

.btn-white {
  background-color: #fff;
  color: $gray-dark;

  &:hover,
  &:focus {
      background-color: lighten($gray-light, 5%);
      color: $gray-darker;
  }
}


// Utilities

.v-center {
  display: table;
  height: 100%;
  width: 100%;
}

.v-content {
  display: table-cell;
  vertical-align: middle;
}


// Reponsive

@media (max-width: 599px) {
  .jumbotron {
    padding: 0 1rem;
    border-left: none;
  }
}
