<section id="services">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
          <div class="jumbotron">
            <h1>services</h1>
            <p>We offer a full suite of interactive and digital design solutions to meet your every need.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="interactive-digital-design">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <h2 class="separator">Interactive &amp; Digital Design</h2>
          <p>C2 Design Studio’s senior-level experts are ready to serve. We have over 20 years' experience 
            in design, user experience analysis, user testing, and full-stack development for both web and 
            mobile applications.</p>
          <p>Please <a href="/contact">contact us</a> for a free custom estimate.</p>
        </div>
      </div>
    </div>
  </section>
