<section id="services">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <div class="jumbotron icon-page">
            <h1>services</h1>
            <p>We offer a full suite of interactive and digital design solutions to meet your every need.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="interactive-digital-design">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <h2 class="separator white">Interactive &amp; Digital Design</h2>
          <p>C2 Design Studio’s senior-level experts are ready to serve. We have over 20 years' experience 
            in design, user experience analysis, user testing, and full-stack development for both web and 
            mobile applications.</p>
          <p>Please <a href="/contact">contact us</a> for a free custom estimate.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="service-offerings">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="separator">Service Offerings</h2>
            <ul class="icon-menu-horizontal">
              <li><a class="icon-link" href="#web-mobile"><i class="icon-circle anchor-down icon-web"></i>
                web / mobile</a>
              </li>
              <li><a class="icon-link" href="#online-marketing"><i class="icon-circle anchor-down icon-online-marketing"></i>
                online marketing</a>
              </li>
              <li><a class="icon-link" href="#all-digital"><i class="icon-circle anchor-down icon-digital-design"></i>
                all things digital</a>
              </li>
            </ul>
            <ngb-accordion
              #acc="ngbAccordion"
              activeIds={{openAccordions}}
              class="accordion">
              <ngb-panel id="web-mobile" title="web / mobile">
                <ng-template ngbPanelContent>
                  <h3>Interface Design</h3>
                  <p>Get visually-appealing mockups and prototypes that leverage the latest UX research 
                    for good user experience.</p>
                  <h3>User Experience Review</h3>
                  <p>A full review of your current website or web application with recommendations for 
                    improved user experience.</p>
                  <p>Pulling from industry leading research such as those by Nielson Norman Group.</p>
                  <h3>User / Usability Testing</h3>
                  <p>Moderated sessions with users to gain insights and evidence-based recommendations 
                    for improvements.</p>
                  <h3>Information Architecture Analysis</h3>
                  <p>Improve how your content is organized and structured.</p>
                  <h3>Web Content Writing and Editing</h3>
                  <p>Ensure that your content is readable for online users.</p>
                  <h3>Full-stack Web Development</h3>
                  <p>...</p>
                  <h3>Mobile application Development</h3>
                  <p>...</p>
                  <h3>Accessibility / 508 Compliance</h3>
                  <p>...</p>
                  <h3>Implementation of Content Management Systems</h3>
                  <p>So you can manage the content on your site.</p>
                  <p>Includes WordPress, Drupal and Joomla as well as enterprise-level CMS’s.</p>
                  <h3>Search Engine Optimization</h3>
                  <p>...</p>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="online-marketing" title="online marketing">
                <ng-template ngbPanelContent>
                  <h3>HTML Email Design and Deployment</h3>
                  <h3>Social Media Design</h3>
                  <h3>Banner Ad Design</h3>
                  <h3>Website Analytic Reporting</h3>          
                </ng-template>
              </ngb-panel>
              <ngb-panel id="all-digital" title="all things digital">
                <ng-template ngbPanelContent>
                  <h3>Digital Signage Content</h3>
                  <h3>Oral Presentation Design</h3>
                  <p>Includes static and animated design for government contract proposals as well as 
                    sales and corporate presentations.</p>
                  <h3>Video Optimization for the Web</h3>
                  <h3>Flash Animation</h3>               
                </ng-template>
              </ngb-panel>
              <ngb-panel id="all-digital" title="Website Maintenance Packages">
                <ng-template ngbPanelContent>
                  <p>If you need require regular professional updates to your current website, 
                    C2 Design Studio offers Website Maintenance Packages at special rates. 
                    These packages include blocks of hours which can be allocated toward website 
                    maintenance or ongoing search engine optimization services. 
                    <a href="/contact" class="text-nowrap">Contact us</a> for more details.</p>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
  </section>
