@import 'variables';
@import '../../assets/scss/mixins';

//
// Services Page
// --------------------------------------------------

#services {
    position: relative;
    z-index: 0;
    background: transparent url('../../assets/images/fea-c2design-studio-services.jpg') no-repeat left center;
    @include background-size(cover);
    color: #fff;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: rgba($gray-dark, 0.4);
    }

    > .container > .row {
        min-height: 300px;

        > div {
            @include display-flex();
            @include align-items(center);
        }
    }
}

#interactive-digital-design {
  background-color: $orange;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;

  a {
    color: #fff;
    text-decoration: underline;

    &:hover,
    &:focus {
        color: $gray-lighter;
    }
  }
}
