@import 'variables';
@import '../../assets/scss/mixins';

.services {
  z-index: 0;
  background: transparent
    url('../../assets/images/fea-c2design-studio-services.jpg') no-repeat left
    center;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba($gray-800, 0.45);
  }

  .row {
    min-height: (300rem / 16);

    > div {
      display: flex;
      align-items: center;
    }
  }
}

.jumbotron.icon-page:before {
  background-position: 0 (-110rem / 16);
}

.interactive-digital-design {
  background-color: $orange;
  font-size: 1.5rem;
  font-weight: 300;

  a {
    color: #fff;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $gray-300;
    }
  }
}

.service-offerings {
  h3 {
    margin-top: 1.75rem;

    &:first-child {
      margin-top: 0.5rem;
    }
  }

  hr {
    margin: 1.75rem 0 0.5rem 0;
  }

  .icon-circle {
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &.icon-web:before {
      @include background-image(
        icon-tablet-orange,
        true,
        '../../assets/images'
      );
      background-size: auto (60rem / 16);
    }

    &.icon-online-marketing:before {
      @include background-image(
        icon-monitor-usd-orange,
        true,
        '../../assets/images'
      );
      background-size: (60rem / 16) auto;
    }

    &.icon-digital-design:before {
      @include background-image(
        icon-monitor-play-orange,
        true,
        '../../assets/images'
      );
      background-size: (70rem / 16) auto;
    }
  }
}

.icon-menu {
  margin: 0 (-30rem / 16) 2rem (-30rem / 16);

  li {
    margin: 0 (30rem / 16) 1rem (30rem / 16);
    font-size: (21rem / 16);
    font-style: italic;
    text-align: center;
  }
}

.icon-circle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: (5rem / 16);
}

.icon-link {
  color: $gray-800;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;

    .icon-circle {
      background-color: $gray-300;
      transition: background-color 0.2s linear;

      &:before {
        content: '\f35d' !important;
        background-image: none !important;
        @include icon-font();
        color: $orange;
        font-size: (48rem / 16);
        line-height: (110rem / 16);
        text-align: center;
      }
    }
  }
}
