<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="jumbotron icon-page">
          <h1>blog</h1>
          <p>Gain some insights into web and mobile application development, online marketing, 
            and all things digital.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="our-soapbox">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="separator">From Our Soapbox</h2>
        <p>Blog coming soon</p>
      </div>
    </div>
  </div>
</section>
