@import 'variables';
@import '../../assets/scss/mixins';

.blog {
  z-index: 0;
  background: transparent
    url('../../assets/images/fea-c2design-studio-blog.jpg') no-repeat left
    center;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba($gray-warm-dark, 0.5);
  }

  .row {
    min-height: (300rem / 16);
  }

  .jumbotron.icon-page:before {
    background-position: 0 -220px;
  }
}
