<section class="blog position-relative text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 d-flex align-items-center mx-auto">
        <div class="jumbotron icon-page">
          <h1>blog</h1>
          <p>
            Gain some insights into web and mobile application development,
            online marketing, and all things digital.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2 class="separator">From Our Soapbox</h2>
        <p>
          Stay tuned for the latest information and advice in web and mobile
          design, user experience and online marketing.
        </p>
        <div markdown [src]="'./assets/blog/blog.md'"></div>
      </div>
    </div>
  </div>
</section>
