@import 'variables';
@import '../../assets/scss/mixins';

//
// Blog
// --------------------------------------------------

#blog {
  position: relative;
  z-index: 0;
  background: transparent
    url('../../assets/images/fea-c2design-studio-blog.jpg') no-repeat left
    center;
  background-size: cover;
  color: #fff;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba($gray-warm-dark, 0.5);
  }

  > .container > .row {
    min-height: 300px;

    > div {
      dsplay: flex;
      align-items: center;
    }
  }

  .jumbotron.icon-page:before {
    background-position: 0 -220px;
  }
}
