<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="jumbotron icon-page">
          <h1>blog</h1>
          <p>Gain some insights into web and mobile application development, online marketing, and all things digital.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="our-soapbox">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="separator">From Our Soapbox</h2>
        <p>Stay tuned for the latest information and advice in marketing.</p>
      </div>
    </div>
  </div>
</section>