// Variables
//
// Custom overrides to Bootstrap default variables


// Colors

$white:  #fff !default;
$black:  #000 !default;
$red:    #cd2026 !default;
$orange: #da4c29 !default;
$yellow: #f9c642 !default;
$green:  #67ad44 !default;
$blue:   #007eb7 !default;
$teal:   #089c94 !default;

$gray-darker:               #212121 !default;
$gray-dark:                 #323a45 !default;
$gray:                      #5b616b !default;
$gray-light:                #aeb0b5 !default;
$gray-lighter:              #e5e5e5 !default;
$gray-lightest:             #f1f1f1 !default;
$gray-warm-dark:            #494440 !default;

$brand-inverse:             $gray-darker !default;


// Spacing

$spacer:   1rem !default;


// Fonts

$font-family-sans-serif: "Lato", Roboto, Arial, sans-serif !default;
$font-family-base:       $font-family-sans-serif !default;

$font-size-h1: 3rem !default;
$font-size-h2: 3.5rem !default;
$font-size-h3: 2.5rem !default;

$headings-margin-bottom: ($spacer) !default;
$headings-font-weight:   400 !default;


// Buttons

$btn-box-shadow:                 1px 1px 7px 0 rgba($black,.23) !default;

$btn-primary-bg:                 $gray-dark !default;


// Forms

$input-border-color:             lighten($gray-light, 10%) !default;

$input-border-radius:            0 !default;
$input-border-radius-lg:         0 !default;
$input-border-radius-sm:         0 !default;

$input-padding-x-lg:             .75rem !default;

$form-group-margin-bottom:       2rem !default;

$custom-select-border-radius: 0 !default;


// Navbar

$navbar-padding-y:                  1rem !default;

$navbar-toggler-border-radius:       0 !default;

$navbar-inverse-toggler-border:        rgba($white,.2) !default;


// Navs

$nav-link-padding:              1.5em !default;


// Jumbotron

$jumbotron-padding:              0 !default;
$jumbotron-bg:                   transparent !default;


// Form states and alerts

$state-success-text:             $gray-dark !default;
$state-success-bg:               lighten($green, 38%) !default;
$state-success-border:           darken($state-success-bg, 10%) !default;

$state-info-text:                $gray-dark !default;
$state-info-bg:                  lighten($blue, 55%) !default;
$state-info-border:              darken($state-info-bg, 10%) !default;

$state-warning-text:             $gray-dark !default;
$state-warning-bg:               lighten($yellow, 25%) !default;
$state-warning-border:           darken($state-warning-bg, 10%) !default;

$state-danger-text:              $gray-dark !default;
$state-danger-bg:                lighten($red, 43%) !default;
$state-danger-border:            darken($state-danger-bg, 10%) !default;


// Cards

$card-border-radius:       0 !default;


// Alerts

$alert-margin-bottom:         2rem !default;
$alert-border-radius:         0 !default;

@import '../../node_modules/bootstrap/scss/variables';

