<section id="uvp">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
        <div class="jumbotron">
          <h1>we want you to succeed</h1>
          <p>At C2 Design Studio our goal is simple — we want our clients to succeed.
            Whether its improved ROI, brand awareness, increased traffic conversions, 
            or satisfied customers, we can help you achieve your goals.</p>
          <p><a href="#" class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="who-we-are">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <h2 class="separator">Who We Are</h2>
        <p>C2 Design Studio is a creative interactive agency with over 20 years 
          experience in digital design <span class="no-wrap">and development.</span></p>
        <p>As senior level experts consider us your  personal “sherpas.” 
          We can help you achieve your peak potential.</p>
      </div>
    </div>
  </div>
</section>
<section id="our-services">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3><i class="icon-circle icon-web"></i>web / mobile</h3>
      </div>
      <div class="col-sm-4">
        <h3><i class="icon-circle icon-online-marketing"></i>online marketing</h3>
      </div>
      <div class="col-sm-4">
        <h3><i class="icon-circle icon-digital-design"></i>all things digital</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p><a href="/services" id="btn-services" class="btn btn-primary btn-lg">View Our Services</a></p>
      </div>
    </div>
  </div>
</section>
<section id="get-in-touch">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="separator">Get In Touch</h2>
        <div class="row">
          <div class="offset-sm-1 col-sm-4">
            [map image]
          </div>
          <div class="col-sm-3 contact-info">
            <h3 class="name">Derrick Pedranti</h3>
            <p><i>Managing Director</i><br />
            C2 Design Studio</p>
            <p><a href="mailto:hello@c2designstudio.com">hello@c2designstudio.com</a></p>
            <p><a href="/contact" class="btn btn-white btn-lg">Contact Us</a></p>
          </div>
          <div class="col-sm-3">
            [social media icons]
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
