<section id="uvp">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="jumbotron">
          <h1>we want you to succeed</h1>
          <p>At C2 Design Studio our goal is simple — we want our clients to succeed.
            Whether its improved ROI, brand awareness, increased traffic conversions, 
            or satisfied customers, we can help you achieve your goals.</p>
          <p><a href="#" class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="who-we-are">

</section>
