@import 'variables';
@import '../../assets/scss/mixins';

//
// Home Page
// --------------------------------------------------

#uvp {
    position: relative;
    z-index: 0;
    background: transparent url('../../assets/images/fea-c2design-studio.jpg') no-repeat left center;
    @include background-size(cover);
    color: #fff;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: rgba($brand-primary, 0.6);
    }

    > .container > .row {
        min-height: 640px;

        > div {
            @include display-flex();
            @include align-items(center);
        }
    }
}

#who-we-are {
    min-height: 400px;
    background: $brand-primary url('../../assets/images/bg-who-we-are.svg') no-repeat right bottom;
    background-size: auto 90%;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}


// Responsive

@media (max-width: 767px) {
  #uvp {
    > .container > .row {
      min-height: 560px;
    }
  }

  #who-we-are {
    background: $brand-primary;
  }
}
