@import 'variables';
@import '../../assets/scss/mixins';

.uvp {
  z-index: 0;
  background: transparent url('../../assets/images/fea-c2design-studio.jpg')
    no-repeat left center;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba(theme-color('primary'), 0.6);
  }

  .row {
    min-height: (520rem / 16);

    @include media-breakpoint-down(sm) {
      min-height: (560rem / 16);
    }
  }
}

.who-we-are {
  min-height: 400px;
  background: darken(theme-color('primary'), 2%)
    url('../../assets/images/bg-who-we-are.svg') no-repeat right bottom;
  background-size: auto 90%;
  font-size: 1.5rem;
  font-weight: 300;

  @include media-breakpoint-down(sm) {
    background: darken(theme-color('primary'), 2%);
  }
}

.our-services {
  h3 {
    margin-bottom: 3.75rem;
    font-style: italic;

    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }
  }

  .icon-circle {
    height: (200rem / 16);
    width: (200rem / 16);
    margin: 0 auto (15rem / 16) auto;
    border-width: 0.25rem;

    @include media-breakpoint-down(sm) {
      height: 150px;
      width: 150px;
    }

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;

      @include media-breakpoint-down(sm) {
        background-size: 60% 60%;
      }
    }

    &.icon-web:before {
      @include background-image(icon-tablet-blue, true, '../../assets/images');
    }

    &.icon-online-marketing:before {
      @include background-image(
        icon-monitor-usd-blue,
        true,
        '../../assets/images'
      );
    }

    &.icon-digital-design:before {
      @include background-image(
        icon-monitor-play-blue,
        true,
        '../../assets/images'
      );

      @include media-breakpoint-down(sm) {
        background-size: 65% auto;
      }
    }
  }
}

.get-in-touch {
  background-color: $gray-800;
}

.contact-name {
  font-size: 1.5rem;
}
