<section class="uvp position-relative text-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 d-flex align-items-center mx-auto">
        <div class="jumbotron">
          <h1>we want you to succeed</h1>
          <p>
            At C2 Design Studio our goal is simple — we want our clients to
            succeed. Whether its improved ROI, brand awareness, increased
            traffic conversions, or satisfied customers, we can help you achieve
            your goals.
          </p>
          <p>
            <a href="/services" class="btn btn-gray-dark btn-lg">Learn more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="who-we-are text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-lg-8 mx-auto">
        <h2 class="separator white">Who We Are</h2>
        <p>
          C2 Design Studio is a creative interactive agency with over 20 years
          experience in web and mobile development, online marketing and
          <span class="text-nowrap"> graphic design.</span>
        </p>
        <p>
          As senior level experts consider us your personal “sherpas.” We can
          help you achieve your peak potential.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="our-services text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3><i class="icon-circle icon-web"></i>web / mobile</h3>
      </div>
      <div class="col-sm-4">
        <h3>
          <i class="icon-circle icon-online-marketing"></i>online marketing
        </h3>
      </div>
      <div class="col-sm-4">
        <h3>
          <i class="icon-circle icon-digital-design"></i>all things digital
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>
          <a href="/services" class="btn btn-gray-dark btn-lg mt-2"
            >View Our Services</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
<section class="get-in-touch text-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="separator white">Get In Touch</h2>
        <div class="row">
          <div class="col-md-6">
            <img
              src="../assets/images/map-orange-county-c2-design.png"
              class="img-fluid mx-auto d-block hidden-sm-down"
              height="331"
              width="462"
              alt="C2 Design Studio in Orange County, California"
            />
          </div>
          <div class="col-md-6 contact-info mt-5 mt-md-0">
            <h3 class="contact-name mb-1">Derrick Pedranti</h3>
            <p class="mb-4">
              <i>Managing Director</i>
              <br />
              C2 Design Studio
              <br />
              Orange County, California
            </p>
            <p>
              <a href="mailto:hello@c2designstudio.com" class="text-white">
                <i class="icon-inline ion-android-mail"></i
                >hello@c2designstudio.com
              </a>
            </p>
            <p>
              <a href="/contact" class="btn btn-white btn-lg">Contact Us</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
