@import '../../variables';

.toastr {
  margin-bottom: (20rem / 16);

  &-container {
    position: fixed;
    z-index: 99999999;
    top: 0;
    right: 0;
    width: (420rem / 16);
    padding: (10rem / 16);

    @include media-breakpoint-down(xs) {
      width: (300rem / 16);
    }
  }

  *:last-child {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: (10rem / 16);
    font-size: (18rem / 16);
    font-weight: 700;
  }

  p {
    line-height: 1.4;
  }

  .close {
    margin-left: (8rem / 16);
  }
}
